// Images

img {
  max-width: 100%;
}

// All

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Grid

.container {
  padding: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}