.pad10-top {
  padding-top: 10px;
}

.pad20-top {
  padding-top: 20px;
}

.pad30-top {
  padding-top: 30px;
}

.pad10-bottom {
  padding-bottom: 10px;
}

.pad20-bottom {
  padding-bottom: 20px;
}

.pad30-bottom {
  padding-bottom: 30px;
}
