#principal {
  padding: 0px 0;
}

#principal .flexbox {
  display: flex;
  align-items: center;
  gap: 65px;
}

#sobre {
  padding: 50px 0;
}

#sobre .flexbox {
  display: flex;
  align-items: center;
  gap: 75px;
}

#sobre .flexbox .left,
#sobre .flex-box right {
  width: 100%;
}

#sobre .flexbox .left img {
  width: 100%;
}

#artistas {
  padding: 50px 0;
}

#artistas ul li {
  list-style: none;
}

#artistas ul {
  display: flex;
  gap: 15px;
}

#final .flexbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

#final .flexbox .ticket {
  position: relative;
  min-width: 700px;
  min-height: 370px;
  border: 1px solid #0000ff;
  border-left-width: 100px;
  padding: 40px;
}

#final .flexbox .ticket img {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#final .flexbox .ticket .quantity {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid white;
}

#carrinho {
  padding: 50px 0;
}

#carrinho .flexbox {
  display: flex;
  gap: 40px;
}

#carrinho .flexbox .left,
#carrinho .flexbox .right {
  width: 100%;
}

#carrinho .flexbox .right {
  max-width: 300px;
}

#carrinho .flexbox .ticketlist {
  margin-top: 30px;
}

#carrinho .flexbox .ticketlist .ticket {
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 40px;
  border: 1px solid #a5a5ff;
  border-radius: 25px;
}

#carrinho .flexbox .ticketlist .ticket .control {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

#carrinho .flexbox .ticketlist .ticket .control button {
  font-family: "Poppins";
  font-size: 17px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 29px;
  color: #ffffff;
  border: 2px solid white;
  border-radius: 255px;
  background-color: transparent;
  cursor: pointer;
}

#carrinho .flexbox .ticketlist .ticket .control span {
  font-family: "poppins";
  font-size: 19px;
  font-weight: 700;
  color: #a5a5ff;
}

#carrinho .flexbox .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#carrinho .flexbox .form input {
  background-color: transparent;
  height: 54px;
  padding: 0 20px;
  border: 1px solid #a5a5ff;
  border-radius: 255px;
  font-family: "Poppins";
  font-size: 16px;
  font-weight: 400px;
}

#carrinho .flexbox .form button {
  cursor: pointer;
  margin-top: 30px;
}